*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  display: flex;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  inline-size: 1140px;
  block-size: 534px;
  margin: auto;
  display: flex;
  align-items: end;
  gap: 30px;
  
}

.result {
  inline-size: 711px;
} 

.result__video-container {
  position: relative;
  margin-bottom: 16px;
}

.result__video {
  display: block;
  width: 100%;
}

.search-form {
  display: flex;
  gap: 40px;
  align-items: end;
}

.search-form__textfield {
  width: 225px;
  padding: 0 3px 0 0;
  border: none;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: inherit;
}

.search-form__textfield::placeholder {
  color: inherit;
  opacity: 0.7;
}

.search-form__checkbox-list {
  width: 212px;
}

.button {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  padding: 6px 0;
}

.search-form__submit-button {
  width: 194px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  vertical-align: top;
}

.content__details {
  inline-size: 399px;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 0.94;
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  block-size: 298px;
  overflow: auto;
}

.content__list::-webkit-scrollbar { 
  display: none;
}

.content__card-link {
  display: block;
  color: currentColor;
  text-decoration: none;
  margin-bottom: 30px;
}

.content__video-card-description-container {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.content__video-card-description {
  line-height: 0.9;
}

.content__video-card-thumbnail {
  width: 194px;
  vertical-align: top;
}

.more-button {
  width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}